.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  table {
    border-collapse: separate;
    border-spacing: 0.25em 1em;
    margin-top: -1em;
    font-weight: 700;
    letter-spacing: 1px;

    th {
      font-size: 20px;
      background-color: $primary-color;
      color: $secondary-color;
    }

    th,
    td {
      padding: 0.25em 0.5em;
      text-align: center;
    }
  }

  .pagination-btn {
    color: $secondary-color;
    background: $primary-color;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid $secondary-color;
    transition: all 0.4s ease 0s;
    cursor: pointer;

    &:hover {
      font-weight: 900;
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      transition: all 0.4s ease 0s;
    }
  }

  .active {
    background: $tertiary-color;
  }
}

.simple-btn {
  color: $secondary-color;
  background: $primary-color;
  border: 1px solid $secondary-color;
  font-weight: 700;
  padding: 10px;
  margin: 0 10px 10px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.3s ease 0s;

  &:hover {
    color: $primary-color;
    background: $secondary-color;
    border: 1px solid $primary-color;
    font-weight: 900;
    letter-spacing: 2px;
  }
}

.text-input {
  position: relative;
  padding: 20px 0 0 0;
  width: 35%;
  margin: 30px 0;
  left: 50%;
  transform: translateX(-50%);

  input {
    font-size: 1.5rem;
    font-weight: 900;
    color: $secondary-color;
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid $secondary-color;
    outline: none;
    padding: 15px 0 0 0;
  }

  label {
    font-size: 1rem;
    font-weight: 900;
    color: $secondary-color;
    background: $primary-color;
    padding: 5px;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 0;
  }
}

.error-message {
  font-size: 1.5rem;
  color: $tertiary-color;
}

.logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  font-size: 20px;
  padding: 0.3rem 1.2rem;
  color: $secondary-color;
  background: $primary-color;
  outline: none;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  transition: all 0.4s ease 0s;

  &:hover {
    cursor: pointer;
    background: $tertiary-color;
  }
}
