$primary-color: #0078c8;
$secondary-color: #25282a;
$tertiary-color: #ffffff;

$primary-font: Tahoma;
$secondary-font: sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return $secondary-color;
  } @else {
    @return $tertiary-color;
  }
}
