@include media-sm {
  .content-container {
    padding-top: 15vh;
  }

  .text-input {
    width: 80%;
    left: 50%;
    margin-bottom: 50px;
  }

  .view-title {
    margin-bottom: 3rem !important;
  }

  .simple-btn {
    border-radius: 4px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .logout-btn {
    font-size: 0.75rem !important;
    padding: 0.3rem;
  }

  footer {
    font-size: 1rem !important;
    transform: rotate(-90deg);
    bottom: 3rem !important;
    right: -4rem !important;
  }
}
