@include media-md {
  .content-container {
    padding-top: 10vh;
  }

  .text-input {
    width: 80%;
    left: 45%;
    margin-bottom: 50px;
  }

  .view-title {
    margin-bottom: 3rem !important;
  }

  .simple-btn {
    border-radius: 4px;
    background: $primary-color;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  footer {
    transform: rotate(-90deg);
    bottom: 4rem !important;
    right: -3rem !important;
  }
}
