* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-container {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 120, 200, 0.9)), to(rgba(0, 120, 200, 0.3))), url("../assets/field.jpg") center;
  background: linear-gradient(to right, rgba(0, 120, 200, 0.9), rgba(0, 120, 200, 0.3)), url("../assets/field.jpg") center;
  background-size: cover;
}

.table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-container table {
  border-collapse: separate;
  border-spacing: 0.25em 1em;
  margin-top: -1em;
  font-family: Tahoma, sans-serif;
}

.table-container table th {
  font-size: 20px;
  background-color: #0078c8;
  color: #ffffff;
}

.table-container table th,
.table-container table td {
  padding: 0.25em 0.5em;
  text-align: center;
}

.table-container table td {
  background-color: #25282a;
}

.table-container .pagination-btn {
  color: #ffffff;
  background: #0078c8;
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  display: inline-block;
  border: none;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.table-container .pagination-btn:hover {
  font-weight: 900;
  text-shadow: 0px 0px 6px white;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.table-container .active {
  background: #c8102f;
}

.simple-btn {
  color: #ffffff;
  border: none;
  background: none;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.simple-btn:hover {
  background: #25282a;
  font-weight: 900;
  letter-spacing: 2px;
}

.text-input {
  font-family: Tahoma, sans-serif;
  position: relative;
  padding: 20px 0 0;
  width: 35%;
  margin: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.text-input input {
  font-size: 1.5rem;
  font-weight: 900;
  color: #25282a;
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  padding: 5px 0;
}

.text-input label {
  font-size: 1rem;
  font-weight: 900;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 0;
}

.error-message {
  font-family: Tahoma, sans-serif;
  font-size: 1.5rem;
  color: #c8102f;
}

body {
  background: #0078c8;
  color: #ffffff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #c8102f;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #ffffff;
}

#root {
  height: 100vh;
  width: 100vw;
}

.view-title {
  margin-bottom: 2rem;
}
